@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fontes */
@font-face {
  font-family: 'Mystery Quest';
  src: url('/fonts/MysteryQuest-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Bookletter';
  src: url(/fonts/GoudyBookletter1911-Regular.ttf);
}

/* Base */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Bookletter';
  font-size: 20px;
  background-color: var(--bg-cor);
  color: var(--txt-cor);
  line-height: 1.6;
}
.autor {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  font-size: 18px;
}
h1 {
  font-family: 'Mystery Quest';
}

h2 {
  font-size: 22px;
  font-style: italic;
}
p {
  text-indent: 5ch;
  margin-left: 0px;

}

.capitular {
  font-size: 2.5em;
  font-family: 'Mystery Quest';
  line-height: 1;
}

:root {
  
  /* Tema claro */
  --bg-cor:white;
  --txt-cor:black;
  --btn-cor: white;

  /* Tema escuro */
  /* --bg-cor:#555;
  --txt-cor:white;
  --btn-cor: #2b2a2e; */

}

.capa {
  overflow: hidden;
  margin-top: -100px;
  width: 705px;
  height: 1125px;
  transform: scale(0.8);
  padding: 20px;
  box-shadow: 1px 1px 10px 1px #215f647e;
  border: 1px solid #3164215d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../components/images/capa-bg4.png);
  background-size: cover;
  perspective: 1000px;
  transition: 600ms;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.capa h1 {
  margin-top: 80px;
  font-size: 65px;
  text-shadow: 1px 1px 10px #bae6ff;
  color: #ffffff;
}

.capa button {
  padding: 1.5em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 50%;
  
}

.capa button:hover {
  background-color: #8b5aff;
  box-shadow: 0px 15px 20px rgba(175, 80, 253, 0.61);
  color: #fff;
  transform: translateY(-7px);
}

.capa button:active {
  transform: translateY(-1px);
}

.interface {
  overflow: hidden;
  margin-top: -100px;
  width: 705px;
  height: 1125px;
  transform: scale(0.8);
  padding: 20px;
  box-shadow: 1px 1px 10px 1px #3164217e;
  border: 1px solid #3164215d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  color: #e8e8e8;
  background-size: cover;
  perspective: 1000px;
  transition: 600ms;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.interface h1 {
  margin-top: 20px;
  font-size: 50px;
}

.capitulos-area {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  gap: 10px;
  color: white;
  text-align: center;
}

.capitulos-area p {
  text-indent: 0ch;
  margin-left: none;

}

.prologo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #383838;
  width: 250px;
  height: 120px;
  border-radius: 6px;
  background: url(../components/images/capa-bg3.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.capitulos-todos {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}

.card {
  border: 1px solid orangered;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 150px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 1px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 22px;
}

.content .para {
  line-height: 1.5;
  font-size: 18px;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  margin-top: 10px;
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.ato0::before {
  background: url(../components/images/ato0.png);
  background-size: cover;
  background-position: center;
}

.ato1::before {
  background: url(../components/images/ato1.png);
  background-size: cover;
  background-position: center;
}

.ato2::before {
  background: url(../components/images/ato2.png);
  background-size: cover;
  background-position: center;
}

.ato3::before {
  background: url(../components/images/ato3.png);
  background-size: cover;
  background-position: center;
}

.ato4::before {
  background: url(../components/images/ato4.png);
  background-size: cover;
  background-position: center;
}

.ato5::before {
  background: url(../components/images/ato5.png);
  background-size: cover;
  background-position: center;
}

.ato6::before {
  background: url(../components/images/ato6.png);
  background-size: cover;
  background-position: center;
}

.ato7::before {
  background: url(../components/images/ato7.png);
  background-size: cover;
  background-position: center;
}

.card:hover::before {
  height: 100%;
}

.card:hover {
  box-shadow: none;
  border: none;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
  
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}

.botoes {
  display: flex;
  gap: 30px;
}

.botoes button {
  padding: 1.1em ;
  width: 240px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 40px;
  
}

.botoes button:hover {
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  box-shadow: 0px 15px 20px rgba(229, 58, 46, 0.4);
  color: #fff;
  
}

.botoes button:active {
  transform: translateY(-1px);
}





