@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fontes */
@font-face {
  font-family: 'Mystery Quest';
  src: url('/fonts/MysteryQuest-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Bookletter';
  src: url(/fonts/GoudyBookletter1911-Regular.ttf);
}

/* Base */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-family: 'Bookletter';
}

.capa {
  width: 650px;
  height: 900px;
  background-image: url(../components/images/capa-bg.png);
  margin-top: 10px;
  background-size: cover;
  background-position: center;
}
