@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fontes */
@font-face {
  font-family: 'Mystery Quest';
  src: url('/fonts/MysteryQuest-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Bookletter';
  src: url(/fonts/GoudyBookletter1911-Regular.ttf);
}

/* Base */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 20px;
  background-color: var(--bg-cor);
  color: var(--txt-cor);
  line-height: 1.6;
}
h1 {
  font-family: 'Mystery Quest';
}

p {
  text-indent: 5ch;
  margin-left: 0px;
  
}

.capitular {
  font-size: 2.5em;
  font-family: 'Mystery Quest';
  line-height: 1;
}

:root {
  
  /* Tema claro */
  --bg-cor:white;
  --txt-cor:black;
  --btn-cor: white;

  /* Tema escuro */
  /* --bg-cor:#555;
  --txt-cor:white;
  --btn-cor: #2b2a2e; */

}

.capa {
  overflow: hidden;
  margin-top: -80px;
  width: 705px;
  height: 1125px;
  transform: scale(0.8);
  padding: 20px;
  box-shadow: 1px 1px 10px 1px #3164217e;
  border: 1px solid #3164215d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../components/images/capa-bg.png);
  background-size: cover;
  perspective: 1000px;
  transition: 600ms;
  
}

.capa h1 {
  margin-top: 80px;
  font-size: 60px;
}